---
import type { Project } from "@/data/projects";
import projects from "@/data/projects";
import Link from "./shared/Link.astro";
const formatTags = (values: string[]) =>
  values.toString().replaceAll(",", " • ");
---

<section>
  <h2 class="font-title text-zinc-900/90 text-3xl md:text-4xl lg:text-5xl pb-sp-32 md:pb-sp-48">
    Mon portfolio
  </h2>
  <div class="flex flex-col gap-4">
    {
      projects.map((project: Project) => (
        <article class="  bg-zinc-150 flex flex-col gap-4 group  border border-zinc-600/25 p-4  rounded-md transition-all duration-300  hover:-translate-y-2 hover:border-violet-600">
          <details>
            <summary class="cursor-pointer block  text-violet-600 group-hover:text-zinc-600/80 ">
              <header class="flex flex-col gap-4">
                <div class="flex justify-between">
                  <h3 class=" font-title  text-zinc-900/80 text-xl md:text-2xl lg:text-3xl">
                    {project.title}
                  </h3>
                  {project.url &&(
                    <Link href={project.url} label="voir le site" 
                    isUnderline
                    />
                      
                  )}
                </div>
                <ul role="list" class="flex flex-row gap-2">
                  <li class=" text-sm ">
                    Stack: {formatTags(project.tags)}
                  </li>
                </ul>
              </header>
            </summary>
            <ul class="mt-8 px-8 flex flex-col items-center justify-center
               lg:flex-row gap-8">
              <li class="lg:w-1/2">
                <img
                  src={project.image}
                  alt={project.title}
                  class="w-fit  object-cover transition-all duration-300 hover:scale-105 shadow-card-shadow rounded-sm "
                  loading="lazy"
                />
              </li >
              <li class="lg:w-1/2">
                <div class="flex flex-col gap-1">
                  <h4 class="text-zinc-900/80 font-semibold ">Description</h4>
                  <p class="pb-2 text-sm lg:text-base">{project.description}</p>
                  <h4 class="text-zinc-900/80 font-semibold ">Tâches réalisées</h4>
                  <ul role="list" class="flex flex-col gap-2 text-sm lg:text-base">
                    {
                     project.tasks.map((task) => (
                       <li>{task}</li>
                     ))
                   }
                    </ul>

              
                  
                </div>
              </li>
            </ul>
          </details>
        </article>
      ))
    }
  </div>
</section>
